In [1]:
import pandas as pd
import urllib
from urllib import request
import featuretools as ft
import numpy as np
import os
dataLoc="data/cleandata.csv"
data = pd.read_csv(dataLoc)
data.head()

,Unnamed: 0,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,dti,delinq_2yrs,open_acc,total_acc,initial_list_status,out_prncp,total_pymnt,total_pymnt_inv,application_type,acc_now_delinq
0,0,5000.0,36,10.65,162.87,B,B2,10,RENT,24000,...,27.65,0.0,3.0,9.0,f,0.0,5861.071414,5831.78,INDIVIDUAL,0.0
1,1,2500.0,60,15.27,59.83,C,C4,1,RENT,30000,...,1.00,0.0,3.0,4.0,f,0.0,1008.710000,1008.71,INDIVIDUAL,0.0
2,2,2400.0,36,15.96,84.33,C,C5,10,RENT,12252,...,8.72,0.0,2.0,10.0,f,0.0,3003.653644,3003.65,INDIVIDUAL,0.0
3,3,10000.0,36,13.49,339.31,C,C1,10,RENT,49200,...,20.00,0.0,10.0,37.0,f,0.0,12226.302212,12226.30,INDIVIDUAL,0.0
4,4,3000.0,60,12.69,67.79,B,B5,1,RENT,80000,...,17.94,0.0,15.0,38.0,f,766.9,3242.170000,3242.17,INDIVIDUAL,0.0

In [2]:
data['grade'] = data['grade'].map({'A': 1, 'B': 2,'C': 3, 'D': 4,'E': 5, 'F': 6, 'G': 7})

In [3]:
entities={"loan":(data,"id")}
es=ft.EntitySet("my-entity-set", entities)
es.plot()

2019-03-20 12:51:56,819 featuretools.entityset - WARNING    index id not found in dataframe, creating new integer column

In [5]:
es["loan"].variables

[<Variable: id (dtype = index)>,
 <Variable: Unnamed: 0 (dtype = numeric)>,
 <Variable: loan_amnt (dtype = numeric)>,
 <Variable: term (dtype = numeric)>,
 <Variable: int_rate (dtype = numeric)>,
 <Variable: installment (dtype = numeric)>,
 <Variable: grade (dtype = numeric)>,
 <Variable: sub_grade (dtype = categorical)>,
 <Variable: emp_length (dtype = numeric)>,
 <Variable: home_ownership (dtype = categorical)>,
 <Variable: annual_inc (dtype = numeric)>,
 <Variable: verification_status (dtype = categorical)>,
 <Variable: issue_d (dtype: datetime, format: None)>,
 <Variable: purpose (dtype = categorical)>,
 <Variable: addr_state (dtype = categorical)>,
 <Variable: dti (dtype = numeric)>,
 <Variable: delinq_2yrs (dtype = numeric)>,
 <Variable: open_acc (dtype = numeric)>,
 <Variable: total_acc (dtype = numeric)>,
 <Variable: initial_list_status (dtype = categorical)>,
 <Variable: out_prncp (dtype = numeric)>,
 <Variable: total_pymnt (dtype = numeric)>,
 <Variable: total_pymnt_inv (dtype = numeric)>,
 <Variable: application_type (dtype = categorical)>,
 <Variable: acc_now_delinq (dtype = numeric)>]

In [6]:
es = es.entity_from_dataframe(entity_id="loan", 
                              dataframe=data, 
                              index="id", 
                               
                              variable_types={"application_type": ft.variable_types.Categorical})

es = es.normalize_entity(base_entity_id="loan",
        new_entity_id="interest",
        index="id",
        additional_variables=[ "loan_amnt","term","int_rate","emp_length","grade", "total_pymnt","total_pymnt_inv"])






es["interest"].variables

[<Variable: id (dtype = index)>,
 <Variable: loan_amnt (dtype = numeric)>,
 <Variable: term (dtype = numeric)>,
 <Variable: int_rate (dtype = numeric)>,
 <Variable: emp_length (dtype = numeric)>,
 <Variable: grade (dtype = numeric)>,
 <Variable: total_pymnt (dtype = numeric)>,
 <Variable: total_pymnt_inv (dtype = numeric)>]

In [7]:
es.plot()

In [8]:
es

Entityset: my-entity-set
  Entities:
    loan [Rows: 887350, Columns: 18]
    interest [Rows: 887350, Columns: 8]
  Relationships:
    loan.id -> interest.id

In [9]:
es["interest"]

Entity: interest
  Variables:
    id (dtype: index)
    loan_amnt (dtype: numeric)
    term (dtype: numeric)
    int_rate (dtype: numeric)
    emp_length (dtype: numeric)
    grade (dtype: numeric)
    total_pymnt (dtype: numeric)
    total_pymnt_inv (dtype: numeric)
  Shape:
    (Rows: 887350, Columns: 8)

In [12]:
new_relationship = ft.Relationship(es["interest"]["id"],
                                     es["loan"]["id"])
new_relationship

In [13]:
feature_matrix, feature_defs = ft.dfs(entityset=es,
                                     target_entity="interest",
                                     max_depth=1)

In [14]:
feature_matrix

,loan_amnt,term,int_rate,emp_length,grade,total_pymnt,total_pymnt_inv,SUM(loan.Unnamed: 0),SUM(loan.installment),SUM(loan.annual_inc),...,NUM_UNIQUE(loan.addr_state),NUM_UNIQUE(loan.initial_list_status),NUM_UNIQUE(loan.application_type),MODE(loan.sub_grade),MODE(loan.home_ownership),MODE(loan.verification_status),MODE(loan.purpose),MODE(loan.addr_state),MODE(loan.initial_list_status),MODE(loan.application_type)
id,,,,,,,,,,,,,,,,,,,,,
0,5000.0,36,10.65,10,2,5861.071414,5831.78,0,162.87,24000,...,1,1,1,B2,RENT,Verified,credit_card,AZ,f,INDIVIDUAL
1,2500.0,60,15.27,1,3,1008.710000,1008.71,1,59.83,30000,...,1,1,1,C4,RENT,Source Verified,car,GA,f,INDIVIDUAL
2,2400.0,36,15.96,10,3,3003.653644,3003.65,2,84.33,12252,...,1,1,1,C5,RENT,Not Verified,small_business,IL,f,INDIVIDUAL
3,10000.0,36,13.49,10,3,12226.302212,12226.30,3,339.31,49200,...,1,1,1,C1,RENT,Source Verified,other,CA,f,INDIVIDUAL
4,3000.0,60,12.69,1,2,3242.170000,3242.17,4,67.79,80000,...,1,1,1,B5,RENT,Source Verified,other,OR,f,INDIVIDUAL
5,5000.0,36,7.90,3,1,5631.377753,5631.38,5,156.46,36000,...,1,1,1,A4,RENT,Source Verified,wedding,AZ,f,INDIVIDUAL
6,7000.0,60,15.96,8,3,8136.840000,8136.84,6,170.08,47004,...,1,1,1,C5,RENT,Not Verified,debt_consolidation,NC,f,INDIVIDUAL
7,3000.0,36,18.64,9,5,3938.144334,3938.14,7,109.43,48000,...,1,1,1,E1,RENT,Source Verified,car,CA,f,INDIVIDUAL
8,5600.0,60,21.28,4,6,646.020000,646.02,8,152.39,40000,...,1,1,1,F2,OWN,Source Verified,small_business,CA,f,INDIVIDUAL
9,5375.0,60,12.69,1,2,1476.190000,1469.34,9,121.45,15000,...,1,1,1,B5,RENT,Verified,other,TX,f,INDIVIDUAL
10,6500.0,60,14.65,5,3,7677.520000,7677.52,10,153.45,72000,...,1,1,1,C3,OWN,Not Verified,debt_consolidation,AZ,f,INDIVIDUAL
11,12000.0,36,12.69,10,2,13943.080000,13943.08,11,402.54,75000,...,1,1,1,B5,OWN,Source Verified,debt_consolidation,CA,f,INDIVIDUAL
12,9000.0,36,13.49,1,3,2270.700000,2270.70,12,305.38,30000,...,1,1,1,C1,RENT,Source Verified,debt_consolidation,VA,f,INDIVIDUAL
13,3000.0,36,9.91,3,2,3478.981915,3478.98,13,96.68,15000,...,1,1,1,B1,RENT,Source Verified,credit_card,IL,f,INDIVIDUAL
14,10000.0,36,10.65,3,2,7471.990000,7471.99,14,325.74,100000,...,1,1,1,B2,RENT,Source Verified,other,CA,f,INDIVIDUAL
15,1000.0,36,16.29,1,4,1270.171106,1270.17,15,35.31,28000,...,1,1,1,D1,RENT,Not Verified,debt_consolidation,MO,f,INDIVIDUAL
16,10000.0,36,15.27,4,3,12519.260450,12519.26,16,347.98,42000,...,1,1,1,C4,RENT,Not Verified,home_improvement,CA,f,INDIVIDUAL
17,3600.0,36,6.03,10,1,3785.020000,3785.02,17,109.57,110000,...,1,1,1,A1,MORTGAGE,Not Verified,major_purchase,CT,f,INDIVIDUAL
18,6000.0,36,11.71,1,2,7164.499852,7164.50,18,198.46,84000,...,1,1,1,B3,MORTGAGE,Verified,medical,UT,f,INDIVIDUAL
19,9200.0,36,6.03,6,1,9459.960000,9459.96,19,280.01,77385,...,1,1,1,A1,RENT,Not Verified,debt_consolidation,CA,f,INDIVIDUAL
20,20250.0,60,15.27,3,3,27663.042671,25417.68,20,484.63,43370,...,1,1,1,C4,RENT,Verified,debt_consolidation,TX,f,INDIVIDUAL
21,21000.0,36,12.42,10,2,14025.400000,14025.40,21,701.73,105000,...,1,1,1,B4,RENT,Verified,debt_consolidation,FL,f,INDIVIDUAL
22,10000.0,36,11.71,10,2,11902.561575,11902.56,22,330.76,50000,...,1,1,1,B3,OWN,Source Verified,credit_card,TX,f,INDIVIDUAL
23,10000.0,36,11.71,5,2,11536.310000,11536.31,23,330.76,50000,...,1,1,1,B3,RENT,Not Verified,debt_consolidation,CA,f,INDIVIDUAL
24,6000.0,36,11.71,1,2,2050.140000,2050.14,24,198.46,76000,...,1,1,1,B3,RENT,Not Verified,major_purchase,CA,f,INDIVIDUAL
25,15000.0,36,9.91,2,2,15823.480000,15823.48,25,483.38,92000,...,1,1,1,B1,MORTGAGE,Verified,credit_card,IL,f,INDIVIDUAL
26,15000.0,36,14.27,9,3,0.000000,0.00,26,514.64,60000,...,1,1,1,C2,RENT,Not Verified,debt_consolidation,NY,f,INDIVIDUAL
27,5000.0,60,16.77,2,4,1609.120000,1609.12,27,123.65,50004,...,1,1,1,D2,RENT,Not Verified,other,PA,f,INDIVIDUAL
28,4000.0,36,11.71,10,2,4484.790000,4484.79,28,132.31,106000,...,1,1,1,B3,MORTGAGE,Not Verified,debt_consolidation,FL,f,INDIVIDUAL
29,8500.0,36,11.71,1,2,10122.208614,10122.21,29,281.15,25000,...,1,1,1,B3,RENT,Source Verified,credit_card,MN,f,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887320,20000.0,36,6.99,2,1,7393.990000,7393.99,887349,617.46,72000,...,1,1,1,A3,MORTGAGE,Source Verified,debt_consolidation,FL,f,INDIVIDUAL
887321,10300.0,60,13.66,10,3,2838.690000,2838.69,887350,237.86,93600,...,1,1,1,C3,RENT,Source Verified,debt_consolidation,CA,f,INDIVIDUAL
887322,4200.0,36,15.99,10,4,1026.020000,1026.02,887351,147.64,48000,...,1,1,1,D2,MORTGAGE,Verified,medical,CO,f,INDIVIDUAL
887323,15000.0,36,11.99,1,2,5957.820000,5957.82,887352,498.15,70000,...,1,1,1,B5,RENT,Verified,debt_consolidation,MD,w,INDIVIDUAL
887324,15000.0,60,11.44,4,2,3934.210000,3934.21,887353,329.44,57000,...,1,1,1,B4,RENT,Source Verified,debt_consolidation,FL,w,INDIVIDUAL
887325,6000.0,36,17.86,10,4,2586.090000,2586.09,887354,216.50,90000,...,1,1,1,D5,MORTGAGE,Verified,debt_consolidation,GA,f,INDIVIDUAL
887326,26950.0,36,8.19,0,1,10138.040000,10138.04,887355,846.88,54000,...,1,1,1,A5,RENT,Verified,debt_consolidation,UT,f,INDIVIDUAL
887327,23000.0,60,15.59,10,4,6612.000000,6612.00,887356,554.32,50000,...,1,1,1,D1,MORTGAGE,Source Verified,credit_card,MT,w,INDIVIDUAL
887328,18700.0,60,17.86,10,4,5644.170000,5644.17,887357,473.44,52000,...,1,1,1,D5,RENT,Source Verified,debt_consolidation,KY,w,INDIVIDUAL
887329,25000.0,60,15.99,3,4,7249.420000,7249.42,887358,607.82,103000,...,1,1,1,D2,RENT,Source Verified,debt_consolidation,NC,w,INDIVIDUAL
887330,25000.0,60,15.59,0,4,7186.930000,7186.93,887359,602.52,55000,...,1,1,1,D1,OWN,Not Verified,debt_consolidation,MN,f,INDIVIDUAL
887331,26500.0,60,8.67,10,2,6553.310000,6553.31,887360,545.87,92000,...,1,1,1,B1,MORTGAGE,Verified,debt_consolidation,NY,w,INDIVIDUAL
887332,21000.0,36,6.03,10,1,7655.730000,7655.73,887361,639.15,65000,...,1,1,1,A1,MORTGAGE,Source Verified,credit_card,MA,f,INDIVIDUAL
887333,8000.0,36,8.19,9,1,3009.520000,3009.52,887362,251.40,50000,...,1,1,1,A5,MORTGAGE,Source Verified,debt_consolidation,NM,f,INDIVIDUAL
887334,12000.0,36,9.49,4,2,4946.950000,4946.95,887363,384.34,40000,...,1,1,1,B2,RENT,Source Verified,debt_consolidation,NV,f,INDIVIDUAL
887335,10775.0,36,6.03,1,1,11071.870000,11071.87,887364,327.95,54000,...,1,1,1,A1,RENT,Not Verified,debt_consolidation,FL,w,INDIVIDUAL
887336,7000.0,36,14.31,10,3,2878.840000,2878.84,887365,240.30,57000,...,1,1,1,C4,RENT,Verified,debt_consolidation,IN,w,INDIVIDUAL
887337,6225.0,36,16.49,2,4,7050.460000,7050.46,887366,220.37,27000,...,1,1,1,D3,RENT,Source Verified,debt_consolidation,FL,f,INDIVIDUAL
887338,10000.0,36,6.49,1,1,3670.190000,3670.19,887367,306.45,75000,...,1,1,1,A2,RENT,Verified,debt_consolidation,FL,w,INDIVIDUAL
887339,13150.0,60,14.99,8,3,3731.340000,3731.34,887368,312.77,30000,...,1,1,1,C5,MORTGAGE,Verified,major_purchase,NC,w,INDIVIDUAL
887340,4000.0,36,8.67,10,2,4158.020000,4158.02,887369,126.59,50000,...,1,1,1,B1,MORTGAGE,Verified,car,CA,f,INDIVIDUAL
887341,7500.0,36,9.49,8,2,2874.730000,2874.73,887370,240.22,40000,...,1,1,1,B2,RENT,Verified,debt_consolidation,WI,f,INDIVIDUAL
887342,10850.0,36,19.24,0,5,2396.050000,2396.05,887371,399.04,32000,...,1,1,1,E2,OWN,Verified,debt_consolidation,OH,f,INDIVIDUAL
887343,12000.0,36,11.99,1,2,4766.250000,4766.25,887372,398.52,63000,...,1,1,1,B5,MORTGAGE,Verified,credit_card,OH,f,INDIVIDUAL
887344,11575.0,36,15.59,10,4,4863.330000,4863.33,887373,404.61,25400,...,1,1,1,D1,RENT,Verified,credit_card,TX,f,INDIVIDUAL
887345,10000.0,36,11.99,8,2,3971.880000,3971.88,887374,332.10,31000,...,1,1,1,B5,RENT,Verified,debt_consolidation,CA,f,INDIVIDUAL
887346,24000.0,36,11.99,10,2,9532.390000,9532.39,887375,797.03,79000,...,1,1,1,B5,MORTGAGE,Verified,home_improvement,NJ,f,INDIVIDUAL
887347,13000.0,60,15.99,5,4,3769.740000,3769.74,887376,316.07,35000,...,1,1,1,D2,RENT,Verified,debt_consolidation,TN,w,INDIVIDUAL
887348,12000.0,60,19.99,1,5,3787.670000,3787.67,887377,317.86,64400,...,1,1,1,E3,RENT,Source Verified,debt_consolidation,MA,w,INDIVIDUAL
887349,20000.0,36,11.99,10,2,7943.760000,7943.76,887378,664.20,100000,...,1,1,1,B5,RENT,Verified,credit_card,FL,f,INDIVIDUAL

In [15]:
feature_matrix.to_csv("data/feature_matrix.csv")